#!/usr/bin/env python
PACKAGE = "service_task"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("threshold",double_t,0,"threshold", 0.5,0,1)
gen.add("randomType",str_t,0,"uniform of gaussian","uniform")
gen.add("theta",double_t,0,"mean", 0.2,0,10)

log_enum = gen.enum([ gen.const("info", int_t, 0, "log print flag:INFO"),
                      gen.const("warn", int_t, 1, "log print flag:WARN"),
                      gen.const("error", int_t, 2, "log print flag:ERROR")],
                      "Set Log Level")
gen.add("log_level", int_t, 0, "Set Log Level", 0, 0, 2, edit_method=log_enum)

exit(gen.generate(PACKAGE, "service_task_node", "dynamic"))
